// #region Marker Cluster

:host::ng-deep .marker-cluster-small {
  background-color: #49afa5 !important;
}

:host::ng-deep .marker-cluster-small div {
  background-color: #1c9489 !important;
  color: #fff !important;
}

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  @extend .marker-cluster-small;

  div {
    @extend .marker-cluster-small;
  }
}

// #endregion

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
}

#map {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: relative;
}
